<h3>Shopping List</h3>

<% if @message %>
  <strong><%= @message %></strong>
<% end %>
<br>
<br>


<table>
  <thead>
    <th class="table_head">
      Id
    </th>
    <th class="table_head">
      Name
    </th>
    <th class="table_head">
      Quantity
    </th>
    <th class="table_head">
      Update?
    </th>
    <th class="table_head">
      Destroy?
    </th>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td class="table_body">
          <%= item.id %>
        </td>
        <td class="table_body">
          <%= item.name %>
        </td>
        <td class="table_body">
          <%= item.quantity %>
        </td>
        <td class="table_body">
          <button class="modify"><a class="underline" href='/update/<%= item.id %>'>Update</a></button>
        </td>
        <td class="table_body">
          <button class="modify"><a class="underline" href='/destroy/<%= item.id %>'>Destroy</a></button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<button type="button" id="create_button" class="modify" name="button"><a class="underline" href='/create'>Create Item</a></button>

<br>
<br>
<br>
